@import "normalize.css";

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.masthead {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.paper-searchbar {
  width: 720px;
  margin: 0 auto 50px;
  overflow: hidden;
}

.paper-searchbar--settings {
  margin: 0 0 20px;
}

input[type=range] {
  margin: 20px 0 0;
  vertical-align: bottom;
}

.paper-searchbar--input {
  padding: 20px;
  width: 574px;
  border: 1px solid #ccc;
  float: left;
}

.paper-searchbar--submit {
  border: none;
  padding: 20px;
  border: 1px solid #ccc;
  float: left;
  color: #444;
  margin-left: 10px;
  background: #eee;
}

main {
  width: 960px;
  margin: 0 auto;
}

.searchresults--header {
  text-align: center;
  margin-bottom: 50px;
}

.searchresults {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.searchresults--loading {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -64px;
}

.searchresultsitem {
  background: rgba(100, 100, 100, .1);
  padding: 20px;
  margin-bottom: 20px;
}

.searchresults--item:last-child {
  margin-bottom: 0;
}

footer {
  width: 920px;
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  color: #aaa;
}