<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CI PubMed Recommender - Group #2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header class="masthead">
            <h1 class="masthead--header">CI PubMed Recommender -  Group #2</h1>
        </header>
        <main>
            <form class="paper-searchbar" action="recommend" method="get">
                <select class="paper-searchbar--type" name="query-type" id="">
                    <option class="paper-searchbar--type--option" value="0">keyword</option>
                    <option class="paper-searchbar--type--option" value="1">author</option>
                </select>
                <input name="query" class="paper-searchbar--input" type="text" placeholder="enter your query">
                <input class="paper-searchbar--submit" value="Search" type="submit">
            </form>
            <h2 class="searchresults--header"></h2>
            <ul class="searchresults">
            </ul>
        </main>
        <footer>
            &copy; 2013 - Collective Intelligence Group 2 (Leon Zwart, Bart Sunter, Baudouin Duthoit, Nino Floris)
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='main.min.js') }}"></script>
    </body>
</html>