<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CI PubMed Recommender - Group #2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header class="masthead">
            <h1 class="masthead--header">CI PubMed Recommender -  Group #2</h1>
            {% if gsubset %}
                <h2 class="masthead--subset-header">PM ID subset (see config.py) is starting with: "{{ gsubset }}"</h2>
            {% endif %}
        </header>
        <main>
            <form class="paper-searchbar" action="recommend" method="get">
                <p>Searchtype:
                    <select class="paper-searchbar--type">
                        <option class="paper-searchbar--type--option" value="0">query</option>
                        <option class="paper-searchbar--type--option" value="1">suggestion</option>
                    </select>
                </p>
                <input name="query" class="paper-searchbar--input" type="text" placeholder="enter your query">
                <input class="paper-searchbar--submit" value="Search" type="submit">
                <section class="paper-searchbar--settings">
                    <input type="checkbox" id="paper-searchbar--settings--independent-features">
                    <label for="paper-searchbar--settings--independent-features">Use Independent Features</label>
                    <input type="checkbox" id="paper-searchbar--settings--pagerank" checked>
                    <label for="paper-searchbar--settings--pagerank">Use PageRank</label>
                    <input type="checkbox" id="paper-searchbar--settings--tfidf" checked>
                    <label for="paper-searchbar--settings--tfidf">Use TF/IDF</label>
                    <input type="checkbox" id="paper-searchbar--settings--clustering">
                    <label for="paper-searchbar--settings--clustering">Use Clustering</label>
                    <input type="checkbox" id="paper-searchbar--settings--recommender">
                    <label for="paper-searchbar--settings--recommender">Use Recommender</label>
                </section>
                <p>Give me
                    <select class="paper-searchbar--settings--results">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                 results.</p>
            </form>
            <h2 class="searchresults--header"></h2>
            <ul class="searchresults">
            </ul>
        </main>
        <footer>
            &copy; 2013 - Collective Intelligence Group 2 (Leon Zwart, Bart Sunter, Baudouin Duthoit, Nino Floris)
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>